<%- include('../partials/header') %>
    <form method="POST" action="/cohorts" class="mx-3 my-2 p-1 clearfix">
    <div class="form-group">
        <label for="logoUrl">Logo Url</label><br>
        <input type="url" name="logoUrl" placeholder="e.g. https://www.example.com/some.png" class="form-control"> 
    </div>
    <div class="form-group">
        <label for="name">Name</label><br>
        <input type="text" name="name" placeholder="Flying Funks" class="form-control"> 
    </div> 
    <div class="form-group">
        <label for="members">Members</label><br>
        <textarea name="members" placeholder="Jon Snow, Daenerys, Melisandre, Arya Stark" class="form-control"></textarea> 
    </div>  
    <input type="submit" value="Submit" class="btn btn-outline-primary float-right">
    </form>
<%- include('../partials/footer') %>
