#buttons{
  margin-bottom: 35px;
}

ul#alphabet{
  display: flex;
  flex-wrap: wrap;
}

#alphabet li {
  display: inline-block;
  list-style: none;
  margin: 5px;
  border: solid 1px black;
  padding: 30px 30px 30px 30px;
  background: #fff;
  text-align: center;
  color: black;
  width: 40px;
}

.highlighted {
  background-color: red !important;
  color: white !important;
  font-weight: bold;
}

#word{
  margin-bottom: 35px;
}

#my-word {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}

#my-word li {
  display: inline-block;
  position: relative;
  list-style: none;
  margin: 4px;
  padding: 0 10px;
  font-size: 1.6em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}